[report]
include =
    ./django_structlog/*
    ./django_structlog_demo_project/*
    ./test_app/*
exclude_lines =
    pragma: no cover
    raise NotImplementedError

skip_covered = True
show_missing = True