repos:
  -   repo: https://github.com/ambv/black
      rev: stable
      hooks:
        - id: black
          language_version: python3
  -   repo: https://gitlab.com/pycqa/flake8
      rev: 3.7.8
      hooks:
        - id: flake8
