repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
  - repo: https://github.com/ambv/black
    rev: 25.11.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        args: [--no-incremental]
        additional_dependencies: [
            celery-types==0.23.0,
            "django-stubs[compatible-mypy]==5.2.5",
            structlog==25.2.0,
            django-extensions==4.1,
            django-ipware==7.0.1,
        ]
        exclude: |
          (?x)(
            ^django_structlog_demo_project/|
            ^config/|
            ^docs/|
            ^manage.py
          )

