[tool.black]
  line-length = 88
  target-version = ['py37', 'py38', 'py39', 'py310']
  include = '\.pyi?$'
  exclude = '''
  /(
  \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  )/
  '''
