name: pre-commit auto-update

on:
  # every monday at 11am utc
  schedule:
    - cron: "0 11 * * 1"
  # on demand
  workflow_dispatch:

jobs:
  auto-update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: 3.13

      - uses: browniebroke/pre-commit-autoupdate-action@v1.0.1

      - uses: peter-evans/create-pull-request@v7.0.9
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: update/pre-commit-hooks
          title: Update pre-commit hooks
          commit-message: "chore: update pre-commit hooks"
          body: Update versions of pre-commit hooks to latest version.
          #base: ${{ github.head_ref }}
